@use "../../scss/variables" as *;

footer {
    background-color: $black-color;
    .footer-body {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        background-color: $secondary-color;
        padding: 2rem 10rem;
        
        .footer-item {
            display: flex;
            flex-direction: column;
            max-width: 30rem;

            h1 {
                color: $primary-color;
                font-size: 16px;
                margin: .5rem 0;
                font-weight: 600;
            }

            p {
                color: $grey-color;
                font-size: 12px;
                max-width: 16rem;
            }

            .see-more {
                color: $primary-color;
                font-weight: 300;
                font-size: 13px;
                margin-top: .5rem;
            }

            a {
                font-size: 14px;
            }

            img {
                width: 2rem;
            }

            .footer-input-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                input {
                    padding: .75rem;
                    background-color: $light-grey-color;
                    color: $grey-color;
                    border: 0;
                    outline: 0;
                    width: 18rem;
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                }

                button {
                    border: 0;
                    background-color: $primary-color;
                    padding: .75rem 1.25rem;
                    color: #fff;
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                }
            }

            .footer-icons {
                display: flex;
                gap: .5rem;
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        padding: 1rem;
        font-size: 12px;
        color: $grey-color;
    }
}