<footer>
  <div class="footer-body">
    
    <div class="footer-item">
      <h1>Scarcela Imóveis</h1>
      <p>Atendimento Profissional e Transparente para ajudar você a encontrar o imóvel ideal</p>
      <a href="" class="see-more">Saiba Mais</a>
    </div>

    <div class="footer-item">
      <h1>Categorias</h1>
      <a href="">Apartamentos</a>
      <a href="">Apartamentos com Condomínio</a>
      <a href="">Sobrados</a>
      <a href="">Casas</a>
      <a href="">Terrenos</a>
    </div>

    <div class="footer-item">
      <h1>Links Rápidos</h1>
      <a href="">Início</a>
      <a href="">Recentes</a>
      <a href="">Sobre Mim</a>
      <a href="">Contato</a>
    </div>

    <div class="footer-item">
      <h1>Envie um Email</h1>
      <div class="footer-input-wrapper">
        <input type="text" placeholder="Escreva sua Mensagem">
        <button>
            <i class="fa-solid fa-paper-plane"></i>
        </button>
      </div>
    
      <h1>Contato</h1>
      <div class="footer-icons">
        <img src="/whatsapp-icon.png">
        <img src="/instagram-icon.png">
      </div>
    
    </div>
  </div>

  <p class="copyright">© 2025 Scarcela Imóveis. Todos os direitos reservados.</p>
</footer>