<header>
    <div class="logo-container">
        <img src="/icon.png" class="logo-icon">
        <div>
            <h1 class="logo-title">SCARCELA</h1>
            <h2 class="logo-subtitle">IMÓVEIS</h2>
        </div>
    </div>

    <div class="header-links-container">
        <a href="">INÍCIO</a>
        <a href="">BAIRROS</a>
        <a href="">RECENTES</a>
        <a href="">CONTATO</a>
    </div>

    <!-- <div class="contact">
        <i class="fa-solid fa-phone"></i>
        <p>+55 (11) 9 4794-5558</p>
    </div> -->
</header>